<div class="container">
    <div class="col-12 mx-auto">
         <form action="/auth/change" method="PUT">
             <div class="row">
                 <div class="col-12">
                     <label>Current Password</label>
                     <input type="password" class="form-control" name="password" />
                 </div>
             </div>
             <br>
             <div class="row">
                <div class="col-12">
                    <label>New Password</label>
                    <input type="password" class="form-control" name="password2" />
                </div>
            </div>
            <br>
            
        </form>
         <div class="resetBtn">
            <a  href="/auth/messageReset" type="submit" name="something" class="btn btn-info" role="button" value="something">CHANGE PASSWORD </a>
        </div>
        <br>
    
    </div>
 </div>
 