<form action="/auth/signup" method="POST">
    <div>
        <label>First Name</label>
        <input type="text" name="firstname">
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="lastname">
    </div>
    <div>
        <label>Email</label>
        <input type="text" name="email">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <button>Signup</button>
</form>
