<div class="homepage">
<form>
    <div>
        
        <div class="nameTitle">
            <h1 class="h1name">BOOKAHOLICS</h1>
        </div>
        
        <div class="sentence">
            <P class="paraSent">A PLATFORM WHERE IS CONNECTING LEARNERS TO FIND OUT THE LATEST SOURCES IN PROGRAMMAING
            </P>
        </div>

        <div class="direction">
            <div>
                <button type="submit" name="signin" class="signBut1" value="SIGN IN">SIGN IN </button>
                <button type="submit" name="signin" class="signBut1" value="SIGN IN">SIGN UP </button>
               
            </div>
    
            

        </div>
        
    </div>
</form>
</div>