<div class="homepage">
<form>
    <div>
        
        <div class="nameTitle">
            <h1 class="h1name">BOOKAHOLICS</h1>
        </div>
        
        <div class="sentence">
            <P class="paraSent">A PLATFORM WHERE CONNECTING LEARNERS TO FIND OUT THE LATEST SOURCES IN PROGRAMMAING
            </P>
        </div>

        <div class="direction">
            <div>

                
                <a href="/auth/signin" type="submit" name="signin" class="btn btn-info signBut1" value="SIGN IN">SIGN IN </a>
              
                <a  href="/auth/signup" type="submit" name="signin" class="btn btn-info signBut1" value="SIGN IN">SIGN UP </a>
          
               
            </div>
        </div>
    </div>
 
    </form>
</div>