<div class="card signin">
    <img src="/imgs/bg5.jpg" class="card-img-top" alt="computer">
    <div class="card-body">
        <h5 class="card-title">ADD CATEGORY</h5>
        <p class="card-text">BIG BOSS add new category &hearts; </p>
        <!-- Add Category form -->
        <div class="col-12 mx-auto">
            <br>
            <form method="POST" action="/addcategory">
            <div class="row mb-3">
                <div class="col-12">
                    <label>Category Name</label>
                    <input type="text" name="name" class="form-input">
                </div>
            </div>
            <br>
                <button class="btn btn-primary" type="submit">Add Category</button>
            </form>
        </div>
    </div>
</div>

